* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 400px;
    padding: 20px;
    color: #000000;
    font-family: verdana;
}

/* Styling to split the screen */
.split {
    top: 0;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
}

.right {
    right: 0;
    width: 60%;
    background-color: #ffdb5c;
}

.left {
    left: 0;
    width: 40%;
    background-color: #46515a;
}

/* If you want the content centered horizontally and vertically */
.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
  }  

/* Jumbo text for the header Blackjack */
.jumbo-text{
    font-family:sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #f6f6f6;
}

.small-text{
    font-family:sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    color: #ffdb5c;
    text-align: left;
}

li{
    margin: 10px;
}

.sublist{
    font-family:sans-serif;
    font-size: 0.7rem;
    font-weight: 700;
    color: #ffdb5c;
    text-align: left;
}
